<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Web</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    {{>navbar}}  
    <div class="container-fluid main_header">
        <div class="row">
            <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Enter City Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter City Name" autocomplete="false">
  </div>
 
  <button type="submit" class="btn btn-outline-success" id="subbtn">Find Weather</button>
</form>
    
    </div>
    <div id="infosentence"><h2>Get your output here</h2></div>
    <div class="getInfo">
        <div class="city" id="city_name"> 
            City Name
        </div>
        <div class="temp" id="city_temp" style="white-space:nowrap";>
            Temperature (deg. celcius)
        </div>
        <div class="status" id="city_status">
            Weather Status
        </div>
    </div>
    {{>footer}}


    <!-- Required JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-euSjMqd4jdHQxhblUhFz4Zv2glF7RQg/guuW0fVvRpNoGTm/uLp3xgGzPTum1vow"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="js/main.js"></script>

</body>

</html>